.flashDiv  {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: url(../images/light.png) #fff;
 }
 @font-face{
	font-family: openSans;
	src: url(openSans.ttf);
}
  #sky  {
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     height: 210px;
     overflow: hidden;
     margin-top: -40px;
 }
  #cloud  {
     position: absolute;
     left: 5%;
     top: 15px;
     z-index: -2;
     width: 100%;
     height: 210px;
     background-image: url(../images/cloud.png);
     background-repeat: no-repeat;
 }
  #cloud2  {
     position: absolute;
     left: 25%;
     top: 65px;
     z-index: 3;
     width: 100%;
     height: 200px;
     background-image: url(../images/cloud.png);
     background-repeat: no-repeat;
 }
  #cloud3  {
     position: absolute;
     left: 50%;
     top: 10px;
     z-index: 1;
     width: 100%;
     height: 200px;
     background-image: url(../images/cloud.png);
     background-repeat: no-repeat;
 }
 .tip  {
     color: #fff;
     background: #1d1d1d;
     display: none;
     /*--Hides by default--*/ padding: 10px;
     position: absolute;
     z-index: 1000;
 }
  span  {
     position: relative;
 }
  span.imgText img  {
     position: absolute;
     top: 0;
     left: 0;
     height: 50px;
     width: 50px;
 }
  #back-top  {
     display: none;
     text-decoration: none;
     position: fixed;
     bottom: 10px;
     margin-right: 2000px;
     overflow: hidden;
     width: 51px;
     height: 51px;
     border: none;
     text-indent: -999px;
 }
  #back-top a  {
     width: 108px;
     display: block;
     text-align: center;
     font: 11px/100% Arial,  Helvetica,  sans-serif;
     text-transform: uppercase;
     text-decoration: none;
     color: #bbb;
     cursor: pointer;
 }
  #back-top a:hover  {
     color: #000;
     cursor: pointer;
 }
  /* arrow icon (span tag) */ #back-top span  {
     width: 108px;
     height: 108px;
     display: block;
     margin-bottom: 7px;
 }
  #back-top a:hover span  {
     z-index: 9999;
 }
  html  {
     height: 100%;
 }
  body  {
     height: 100%;
     background: #eee;
     color: #666;
     font-size: 14px;
     font-family: Helvetica,  Comic Sans MS,  Trebuchet MS,  Calibri,  Verdana;
     width: 100%;
 }
  #extra  {
     background: #eee;
     width: 100%;
     margin-left: auto!important;
     margin-right: auto!important;
 }
  #login  {
     background: #900;
     width: 700px;
     height: 700px;
     position: fixed;
     left: 0;
     top: 0;
     display: none;
 }
  #button  {
     background: #900;
     width: 50px;
     height: 20px;
     position: fixed;
     left: 100px;
     float: left;
     top: 0;
     display: none;
 }
  #language  {
     background: #900;
     width: 125px;
     height: 42px;
     right: 0;
     top: 0;
     position: fixed!important;
 }
  #lang  {
     margin-top: 7px;
     height: 20px;
     margin-right: auto;
     margin-left: auto;
     cursor: pointer;
     width: 112px;
     color: #900;
     background: #fff;
 }
  #language ul  {
     margin: 0;
     padding: 0;
     margin-left: auto!important;
     margin-right: auto!important;
     float: left;
     list-style: none;
 }
  #language ul li  {
     margin: 0;
     padding: 0;
     float: left;
 }
  #language ul li a  {
     margin: 0;
     padding: 0;
     margin-left: auto!important;
     margin-right: auto!important;
     float: left;
     list-style: none;
     clear: both;
 }
  #slider  {
     min-height: 280px;
     width: 100%;
     margin-left: auto;
     margin-right: auto;
     margin-top: 40px;
     margin-bottom: 7px;
 }
  #slider a  {
     color: #fff!important;
 }
  img  {
     border: 0;
 }
  #content  {
     min-height: 367px;
     width: 700px;
     margin-left: auto;
     margin-right: auto;
     margin-top: 7px;
     margin-bottom: 7px;
     padding: 33px 10px 10px;
     font-family: openSans, Helvetica, Comic Sans MS, Trebuchet MS, Calibri,  Verdana;
     font-size: .55em;
     font-style: normal;
     font-weight: 400;
 }
  #toggle  {
     background: #fff;
     width: 50px;
     height: 21px;
     left: 0;
     top: 0;
     float: left;
     margin-left: auto;
     margin-right: auto;
     z-index: 9999999;
     text-decoration: underline;
     border: 1px outset #888;
     border-top: none;
     padding: 0px 10px 0px 10px;
     position: fixed;
     margin-left: 40px;
     font-size: 15px;
     text-decoration: none;
	 color: #900;
	 cursor:pointer;
	 font-weight:bold;
 }
  #toggle:hover  {
     color: #fff;
	 background: #900; 
 }
  #open p, .open p, #close p, .close p, #open, .open, #close, .close  {
     height: 24px;
     margin-left: 5px;
     cursor: pointer;
     width: 70px;
     font-family: arial;
     font-weight: 700;
     text-align: center;
     font-size: 10pt;
     height: 17px;
     cursor: pointer;
     color: #900;
     text-decoration: underline;
 }
  .close, #close  {
     display: none;
 }
  #white  {
     background: repeat-x #fff!important;
     padding: 20px;
     min-height: 300px;
     margin-bottom: 3px;
     overflow: hidden;
	border: 1px solid #ddd;
 }
  #footer  {
     background: #900;
     width: 100%;
     height: 290px;
     margin-bottom: -100px;
     margin-left: auto!important;
     margin-right: auto!important;
     clear: both;
     bottom: 0;
     font-size: 15px;
     position: static;
     text-align: center;
     margin-top: 70px;
     z-index: 9999;
     color: #000;
	 padding-top:10px;
	 padding-bottom:10px;
	 font-weight: bold;
 }
  #footer hr  {
     width: 50%;
 }
  #footer a  {
     color: #eee;
     text-decoration: underline;
 }
 #footer a:hover {
     color: #900;
 }
  #wrapped  {
     margin-bottom: -330px;
     width: 100%;
     min-height: 100%;
     position: relative;
     background: none;
 }
  .clearfooter  {
     height: 260px;
     clear: both;
     width: 100%;
 }
  #navigation  {
     background: #900;
     height: 40px;
     width: 100%;
     margin-top: 7px;
     margin-bottom: 7px;
     margin-left: auto;
     margin-right: auto;
     z-index: 300;
     position: relative;
     overflow: hidden;
 }
  #innavigation  {
     margin-left: auto;
     margin-right: auto;
     width: 703px;
     overflow: hidden;
     color: #fff;
 }
  ul#topnavigation  {
     margin: 0;
     padding: 0;
     margin-left: auto!important;
     margin-right: auto!important;
     float: left;
     list-style: none;
     font-size: 15px;
     cursor: pointer;
     font-weight: bolder;
     width: 100%;
     overflow: hidden;
 }
  ul#topnavigation li  {
     margin: 0;
     padding: 0;
     overflow: hidden;
     float: left;
     height: 40px;
 }
  ul#topnavigation a, ul#topnavigation span  {
     padding: 10px;
     float: left;
     text-decoration: none;
	 background: #ddd;
     text-transform: capitalize;
     clear: both;
     width: 100%;
     height: 20px;
     line-height: 20px;
     /*--Vertical alignment of text--*/ }
  ul#topnavigation span  {
     background: none;
 }
  ul#topnavigation a  {
     /*--This is basically the hover state of navigation--*/ color: #fff!important;
     background-position: left bottom;
 }
  ul#topnavigation span  {
     /*--Default state of navigation--*/ background-position: left top;
 }
  ul#topnavigation a.selected  {
     margin-top: -40px;
     color: #fff!important;
 }
  .test  {
     height: 20px;
     width: 20px;
     background: #b1b1b1;
 }
  .sb-inner  {
     background: #900!important;
 }
  .aviaslider, #direction-fade-slider  {
     margin-right: auto!important;
     margin-left: auto!important;
 }
  /***** clearfix *****/ .clear  {
     clear: both;
     height: 0;
     line-height: 0;
 }
  .clearfix:after  {
     content: ".";
     display: block;
     height: 0;
     clear: both;
     visibility: hidden;
 }
  .clearfix  {
     display: inline-block;
 }
  /* Hides from IE-mac \*/ * html .clearfix  {
     height: 1%;
 }
  .clearfix  {
     display: block;
 }
  /* End hide from IE-mac */ .clearfix  {
     height: 1%;
 }
  .clearfix  {
     display: block;
 }
  /* sliding panel */ #toppanel  {
     position: absolute;
     top: 0;
     left: 0;
     width: 400px;
     height: 100px;
     z-index: 999;
     text-align: center;
     margin-left: auto;
     margin-right: auto;
 }
  #panel  {
     float: left;
     width: 250px;
     height: 225px;
     color: #999;
     background: #900;
     overflow: hidden;
     position: relative;
     z-index: 3;
     display: none;
 }
  input:focus  {
     background-color: #900;
     color: #fff;
 }
  #panel .content input:focus.field  {
     background: #545454;
 }
  #form  {
     width: 200px;
     padding: 10px;
     margin-top: 10px;
     margin-left: auto;
     margin-right: auto;
     display: block;
     text-align: left;
	 
     height: 175px;
 }
  #logfailform #form  {
     width: 200px;
     padding: 10px;
     margin-top: 300px;
     margin-left: auto;
     margin-right: auto;
     display: block;
      text-align: left;
     min-height: 215px;
     border: 7px solid #900;
 }
  #askingform input[type=text] {
	font-family: openSans;
	margin-bottom:20px;
	padding:5px;
	width:95%;
	color: #ccc;
 }
 #askingform textarea {
	margin-bottom:20px;
 }
 #askingform{
 width:50%;
 font-size:1.5em;
 }
 
  label p  {
     padding-bottom: 5px;
     padding-top: 5px;
 }
  .formbutton  {
     margin-top: 0;
     width: 20px;
     background: #900;
     color: #fff;
     height: 20px;
     font-weight: bolder;
     cursor: pointer;
 }
  .formbutton:hover  {
     color: #545454;
 }
  .formbutton:active  {
     background: #fff;
     color: #900;
 }
  input  {
     height: 21px;
 }
  #shad  {
     width: 100%;
     height: 7px;
     margin-top: -7px;
 }
  #shad2s  {
     width: 91.5%;
    height: 7px;
     margin-top: 150px;
     margin-left: 30px;
 }
  .smaller  {
     font-size: 7px!important;
     text-indent: 0!important;
     background: none;
     color: #fff;
     border: none;
     display: inline;
     z-index: 9999;
     cursor: pointer;
 }
  .normal  {
     font-size: 10px!important;
     text-indent: 0!important;
     background: none;
     color: #fff;
     border: none;
     display: inline;
     z-index: 9999;
     cursor: pointer;
 }
  .larger  {
     font-size: 14px!important;
     background: none;
     color: #fff;
     text-indent: 0!important;
     border: none;
     display: inline;
     z-index: 9999;
     cursor: pointer;
 }
  .smaller:hover, .normal:hover, .larger:hover  {
     font-size: 15px;
     color: #000;
     font-weight: bolder;
 }
  .lazy  {
     border: 1px solid #900;
     padding-left: 10px;
     margin: 3px;
 }
  #footsectholder  {
     width: 700px;
     margin-left: auto;
	 height:160px;
     margin-right: auto;
     display: block;
     font-size: 14px;
	 color: #900;
	 margin-bottom: 10px;
 }
  .footersect  {
     background: #fff;
     padding: 3px;
     width: 26%;
	 margin-right:40px;
	 height:160px;
     float: left;
	 padding-top: 5px;
     padding-bottom: 5px;
 }
  .footersect2  {
     height:160px;
     width: 33%;
     margin-right: 40px;
     float: left;
     background: #fff;
     padding-top: 5px;
     padding-bottom: 5px;
 }
  .footersect3  {
     width: 27%;
     height:160px;
     float: left;
     background: #fff;
     padding: 3px;
	 padding-top: 5px;
     padding-bottom: 5px;
 }
  .footersect a:hover, .footersect2 a:hover, .footersect3 a:hover  {
     color: #eee;
 }
 .footer-text{
	color: #eee;
 }
  #slogan  {
     margin-left: auto;
     margin-right: auto;
     width: 400px;
     text-align: center;
     z-index: 11111111;
     cursor: default;
     color: #ddd;
     font-style: italic;
     font-size: 14px;
	 padding-top: 5px;
	padding-bottom: 5px;
 }
  #dholder  {
     height: 70px;
     min-width: 200px;
     margin: 5px;
     float: left;
     padding: 3px;
 }
  .dtitle  {
     height: 22px;
     color: #fff;
     padding-top: 3px;
     padding-left: 3px;
     cursor: pointer;
     width: 90%;
     font-size: 15px;
     font-weight: bolder;
     z-index: -1000000;
     display: block;
     background: #900;
     margin-top: 7px;
 }
  .ddescription  {
     padding-top: 3px;
     width: 100%;
     height: 22px;
     color: #fff;
     padding-top: 3px;
     padding-left: 3px;
     cursor: pointer;
     width: 90%;
     font-size: 15px;
     font-weight: bolder;
     z-index: -1000000;
     display: block;
     background: #900;
 }
 .resources, .downloads{
	background: pink;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
 }
 
 .resources .row, .downloads .row{
	 margin-top:5px;
	 margin-bottom:5px;
	background: red;
	clear:both;
 }
 
 .resources .row .innerRow, .downloads .row .innerRow{
	width: 32%;
	background: yellow;
	height:150px;
	float:left;
	margin-bottom:7px;
	margin-right:7px;
 }
 
  #resources, #downloads  {
     margin-left: auto;
     margin-right: auto;
     z-index: 300;
 }
  td p.ddescription  {
     margin-right: 3px;
 }
  #dholder  {
     border-spacing: 7px;
     border-collapse: separate;
     text-align: center;
     cursor: pointer;
 }
  #dholder td:hover  {
     background: #900;
     color: #a2a2a2;
     border: #900 1px solid;
 }
  #dholder td  {
     background: #900;
     color: #a2a2a2;
     border: #fff 1px solid;
 }
  #pholder  {
     background: silver;
     border: 3px #a2a2a2 solid;
     padding: 1px;
     cursor: pointer;
     width: 150px;
 }
  .ptitle  {
     width: 150px!important;
     background: purple;
 }
  #askingform  {
     min-height: 300px;
 }
  #ask_form  {
     height: 700px;
 }
  .formask  {
     display: block;
     width: 500px;
     min-height: 500px;
     clear: both;
     margin: 0;
     padding: 0;
     min-width: 200px;
     width: 700px;
     z-index: 9999999;
 }
  .formask fieldset  {
     clear: both;
     border: 7px solid #900;
     padding: 10px;
     /* padding in fieldset support spotty in IE */ margin: 0;
     z-index: 9999999;
      position: absolute;
     width: 450px;
     min-height: 100px;
 }
  .formask fieldset legend  {
     font-size: 1.1em;
     background: #900;
     color: #fff;
     padding: 4px;
 }
  .formask label  {
     display: block;
     /* block float the labels to left column,  set a width */ float: left;
     width: 150px;
     padding: 0;
     margin: 5px 0 0;
     /* set top margin same as form input - textarea etc. elements */ text-align: right;
 }
  .formask input  {
     /* display:  inline;
     inline display must not be set or will hide submit buttons in IE 5x mac */ width: auto;
     /* set width of form elements to auto-size,  otherwise watch for wrap on resize */ margin: 5px 0 0 10px;
     /* set margin on left of form elements rather than right of label aligns textarea better in IE */ }
  .security  {
   margin-bottom: 20px;
 }
  .submit  {
	padding-top:20px;
	padding-bottom:30px;
	width:99%;
	font-family: openSans;
	background: white;
	border: 1px solid #900;
	color: #900;
	font-weight: bold;
 }
 
 .submit:hover{
	color:white;
	background: #900;
	cursor:pointer;
	
}
  .cancel  {
     float: left;
     margin-top: 3px!important;
     margin-left: 3px!important;
 }
  .star  {
	margin-top:10px;
     float: left;
     display: block;
 }
  .formask textarea  {
     overflow: auto;
 }
  form br  {
     clear: left;
     /* setting clear on inputs didn't work consistently,  so brs added for degrade */ }
  .con  {
     background: none;
     border-spacing: 0!important;
     display: block!important;
 }
  #alias, label, input, textarea, .jqtransformdone  {
     display: block;
 }
  form  {
     text-indent: 0!important;
 }
  table #projects  {
     color: #fff;
     font-size: 10px;
     margin-left: auto;
     margin-right: auto;
     border-collapse: separate;
 }
  #projects  {
     border-collapse: separate;
 }
  #projects img  {
     border: 3px solid #900;
 }
  table #projects tr td  {
     border-collapse: separate!important;
     border-spacing: 3px!important;
 }
  #projects th  {
     background: #900;
     border-top: 4px solid #fff;
     padding: 4px;
     text-align: center;
     font-weight: 700;
 }
  #projects td  {
     border-top: 4px solid #fff;
     background: #a2a2a2;
     padding: 4px;
     color: #fff;
     font-size: 12px;
     padding: 4px;
     text-align: center;
 }
  #projects td a  {
     text-decoration: underline;
     color: #fff;
     font-weight: bolder;
 }
  #projects td a:hover  {
     color: #000;
 }
  #projects tr  {
     border: 3px solid #fff!important;
 }
  table #projects tr:hover  {
     border: 1px solid green;
     background: green;
 }
  .phead  {
     text-align: center;
     background: #900;
     color: #fff;
     font-weight: bolder;
     font-size: 20px;
 }
  #project tr th  {
     text-align: center;
     background: #900;
     color: #fff;
     font-weight: bolder;
     font-size: 20px;
 }
  #projects .click  {
     cursor: pointer;
     text-align: center;
 }
  .dhead  {
     text-align: center;
     background: #900;
     color: #fff;
     font-weight: bolder;
     font-size: 22px;
 }
  .rhead  {
     text-align: center;
     background: #fff;
     color: #900;
     font-weight: bolder;
     font-size: 22px;
 }
  #rholder  {
     background: silver;
     padding: 3px;
     width: 70%;
     text-align: center;
     margin-left: auto;
     margin-right: auto;
 }
  #rholder tr  {
     border: 7px solid #fff;
 }
  #rholder td  {
     width: 100%;
     border: 7px solid #fff;
 }
  #rholder th  {
     background: #900;
     border: 1px solid #fff;
     padding: 5px;
     text-align: center;
     font-weight: bolder;
     color: #fff;
     font-size: 15px;
 }
  #rholder a  {
     color: #fff;
 }
  #rholder:hover  {
     border: 1px solid #900;
     color: #fff;
 }
  .rtitle  {
     background: #fff;
     padding: 3px 0 0 3px;
     height: 21px;
     color: #900;
     height: 22px;
     width: 90%;
     font-size: 15px;
     font-weight: bolder;
     z-index: -1000000;
     display: block;
     margin-top: 4px;
 }
  .rdescription  {
     background: #fff;
     padding: 3px 0 0 3px;
     height: 21px;
     color: #900;
     height: 22px;
     width: 100%;
     font-size: 15px;
     font-weight: bolder;
     z-index: -1000000;
     display: block;
 }
 #askContent{
	width:45%;
	border: 1px solid #900;
	padding:5px;
	float:right;
	font-size:1.5em;
	text-indent: 20px;
 }
  #answered  {
     color: #fff;
     min-height: 300px;
     width: 460px;
     padding: 3px;
     margin-bottom: 22px;
     text-align: left;
     text-indent: 0;
     cursor: default;
 }
  #answered td  {
     cursor: default;
 }
  #answered tr  {
     font-size: 2em;
 }
  #answered p  {
     min-height: 20px;
     min-width: 20px;
 }
  .user  {
     left: 0;
     float: left;
     background: #a2a2a2;
     padding: 3px;
     clear: right;
     min-height: 35px;
     min-width: 35px;
     display: block;
 }
  .lj  {
     float: right;
     background: silver;
     padding: 3px;
     margin-top: 3px;
     margin-bottom: 7px;
     clear: left;
     min-height: 35px;
     min-width: 35px;
     display: block;
 }
  .ljnone  {
     float: right;
     background: #fff;
     padding: 3px;
     margin-top: 3px;
     margin-bottom: 7px;
     clear: left;
     min-height: 35px;
     min-width: 35px;
     display: block;
 }
  .utitle, .ljtitle  {
     font-weight: bolder;
     background: #900;
     min-width: 20%;
     min-height: 14px;
     margin: 0;
     padding: 3px;
 }
  #xhtml  {
     height: 51px;
     width: 130px;
     margin-left: auto;
     margin-right: auto;
     float: left;
     cursor: pointer;
     background: none;
     background-repeat: no-repeat;
 }
  #css  {
     height: 51px;
     width: 130px;
     margin-left: auto;
     margin-right: auto;
     float: left;
     cursor: pointer;
 }
  #valid  {
     height: 55px;
     width: 270px;
     margin-left: auto;
     margin-right: auto;
	 margin-top: 10px;
 }
  #sidesocial  {
     min-height: 23px;
     width: 80px;
     background: #900;
     z-index: 777777;
     right: 0;
     margin-top: 15px;
     position: fixed;
     padding-top: 7px;
     padding-bottom: 6px;
 }
  #innersocial  {
     min-height: 22px;
     width: 50px;
      margin-left: auto;
     margin-right: auto;
     padding: 7px;
     z-index: 777777;
 }
  .facebook  {
     background: url(../images/facebook.png);
     height: 50px;
     width: 50px;
     cursor: pointer;
 }
  .twitter  {
     background: url(../images/twitter.png);
     height: 50px;
     width: 50px;
     cursor: pointer;
 }
  .linkedin  {
     background: url(../images/images/linkedin.png);
     height: 50px;
     width: 50px;
     cursor: pointer;
 }
  .google  {
     background: url(../images/google.png);
     height: 50px;
     width: 50px;
     cursor: pointer;
 }
  .facebook:hover  {
     background: url(../images/facebook2.png);
 }
  .twitter:hover  {
     background: url(../images/twitter2.png);
 }
  .linkedin:hover  {
     background: url(../images/linkedin2.png);
 }
  .google:hover  {
     background: url(../images/google2.png);
 }
  #contactinfo  {
     border: 1px solid #900;
     color: #900;
     font-size: 12px;
     font-weight: bolder;
     min-height: 10px;
     padding: 3px;
     margin-bottom: 7px;
     float: right;
 }
  #adobe  {
     background: url(../images/adobe.png) no-repeat;
     height: 25px;
     width: 25px;
     float: left;
     cursor: pointer;
 }
  #aboutme #adobe  {
     background: url(../images/adobe.png) no-repeat;
     height: 25px;
     width: 25px;
     float: right;
     cursor: pointer;
 }
  #word  {
     background: url(../images/word.png) no-repeat;
     height: 25px;
     width: 25px;
     float: left;
     margin-left: 23px;
     cursor: pointer;
 }
  #aboutme #word  {
     background: url(../images/word.png) no-repeat;
     height: 25px;
     width: 25px;
     float: right;
     cursor: pointer;
     margin-left: 3px;
 }
  #vcf  {
     height: 25px;
     width: 25px;
     float: left;
     cursor: pointer;
 }
  #aboutme #vcf  {
     background: url(../images/vcf2.png) no-repeat;
     height: 25px;
     width: 25px;
     float: right;
     cursor: pointer;
 }
  #adobe:hover, #aboutme #adobe:hover  {
     background: url(../images/pdf2.png) no-repeat;
 }
  #word:hover, #aboutme #word:hover  {
     background: url(../images/word2.png) no-repeat;
 }
  #aboutme #vcf:hover  {
     background: url(vcf.png) no-repeat;
     height: 25px;
     width: 25px;
     float: right;
     cursor: pointer;
 }
  #up  {
     width: 50px;
     height: 50px;
     margin-right: -15px;
     z-index: 9999;
     cursor: pointer;
	 text-align:center;
	 color:white;
	 font-size:50px;
	 font-family: cursive;
	 padding-right:9px;
 }

  .rhead, .dheader, .pheader  {
     text-align: center;
 }
  #diaglog-form  {
     margin-top: 150px;
     width: 406px;
 }
  #ask  {
     background: #fff;
     border: 3px solid #900;
     color: #900;
     cursor: pointer;
 }
  #ask:hover  {
     background: #900;
     border: 3px solid #fff;
     color: #fff;
 }
  .ui-widget-overlay  {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background: #000;
     cursor: pointer;
     margin-top: -50px;
 }
  .ui-icon  {
     display: none;
 }
  .box_container2  {
     cursor: pointer;
     position: relative;
     /* important */ width: 150px;
     /* we must set a specific width of the container,  so it doesn't strech when the image starts moving */ height: 110px;
     /* important */ overflow: hidden;
     /* hide the content that goes out of the div */ /*just styling bellow*/ background: #900;
     color: #fff;
     text-indent: 0;
 }
  .box_container2 p  {
     display: none;
 }
  .images_holder2  {
     position: absolute;
     /* this is important,  so the div is positioned on top of the text */ }
  .image_div2  {
     position: relative;
     /* important so we can work with the left or right indent */ overflow: hidden;
     /* hide the content outside the div (this is how we will hide the part of the image) */ width: 50%;
     /* make it 50% of the whole images_holder */ float: left;
     /* make then inline */ }
  .right2 img  {
     margin-left: -100%;
     /* 100% is in this case 50% of the image,  so this is how we show the second part of the image */ z-index: 9999;
     width: 50%;
 }
  .left2 img  {
     margin-right: -100%;
     /* 100% is in this case 50% of the image,  so this is how we show the second part of the image */ z-index: 999;
 }
  .zoom  {
     position: relative;
 }
  .zoom span  {
     display: none;
 }
  .zoom:hover span  {
     top: 0;
     left: -30px;
     bottom: -30px;
     display: inline-block;
     position: absolute;
     background: #333;
     color: #FFF;
     padding: 0 5px;
     margin: 0;
     min-height: 10px;
     min-width: 10px;
 }
  .zoom:hover  {
     text-decoration: none;
 }
  .fade  {
     font-weight: 700;
     cursor: pointer;
 }
  div.hover_block  {
     display: block;
     overflow: hidden;
     height: 1%;
     padding-bottom: 15px;
 }
  div.hover_block div, div.hover_block2 div  {
     list-style: none;
     float: left;
     padding: 10px;
     width: 150px;
     height: 110px;
     position: relative;
     margin-right: 20px;
     margin-top: 20px;
     z-index: -99;
     padding: 3px;
 }
  div.hover_block div a, div.hover_block2 div a  {
     display: block;
     position: relative;
     overflow: hidden;
     height: 110px;
     width: 150px;
     color: #000;
     font: 1.6em/1.3 Helvetica,  Arial,  sans-serif;
 }
  div.hover_block div a, div.hover_block2 div a  {
     text-decoration: none;
 }
  div.hover_block div img, div.hover_block2 div img  {
     position: absolute;
     top: 0;
     left: 0;
     border: 0;
 }
  /*bolts*/ #navtopleftbolt  {
     left: 0;
     height: 10px;
     width: 10px;
     background: url(images/bolt2.png);
     position: absolute;
     z-index: 100;
     margin-left: 0;
     margin-top: 0;
 }
  #navtoprightbolt  {
     height: 10px;
     width: 10px;
     background: url(images/bolt2.png);
     position: absolute;
     z-index: 100;
     right: 0;
     margin-top: 0;
 }
  #navbottomrightbolt  {
     height: 10px;
     width: 10px;
     background: url(images/bolt2.png);
     position: absolute;
     z-index: 100;
     right: 0;
     margin-top: 30px;
 }
  #navbottomleftbolt  {
     left: 0;
     height: 10px;
     width: 10px;
     background: url(images/bolt2.png);
     position: absolute;
     z-index: 100;
     margin-left: 0;
     margin-top: 30px;
 }
  #undernav  {
     left: 0;
     height: 7px;
     width: 100%;
     background: url(../images/long.png);
     position: absolute;
     z-index: 200;
     margin-left: 0;
     margin-top: 43px;
 }
  #secondbody  {
     left: 0;
     height: 500px;
     width: 100%;
     position: absolute;
     z-index: 0;
     margin-left: 0;
     margin-top: -30px;
 }
  #bodylogo  {
     height: 140px;
     width: 140px;
     position: absolute;
     z-index: 99;
     margin-left: 605px;
     margin-top: 200px;
 }
  #slidebottomshadow  {
     height: 22px;
     width: 700px;
     background: url(images/floors.png);
     position: absolute;
     z-index: 200;
     margin-left: 0;
     margin-top: 285px;
 }
  #secret  {
     height: 275px;
     width: 100%;
     background: url(images/secret.png) repeat-x #a2a2a2;
 }
  #notvalid  {
     width: 135px;
     height: 55px;
     margin-left: auto;
     margin-right: auto;
 }
  #grassy  {
     left: 0;
     height: 50px;
     width: 100%;
     background: url(../images/grass.png) repeat-x;
     position: absolute;
     z-index: -22;
     margin-left: 0;
     margin-top: -45px;
 }
  #submit  {
     width: 50px;
     height: 50px;
 }
  .error  {
     color: #900;
     font-size: 12px;
     position: absolute;
     height: 20px;
     width: 20px;
     z-index: 99999;
 }
  .hoverimg, .hoverimg2  {
     z-index: 99999!important;
 }
  #introduction  {
     font-size: 2em;
     word-spacing: -1px;
 }
  #aboutme  {
     font-size: 2em;
 }
  #introduction p, #aboutme p  {
     text-indent: 40px;
 }
  #introduction a, #aboutme a  {
     text-decoration: underline;
 }
  #aboutme a  {
     color: #900;
 }
  #aboutme p  {
     margin-bottom: 7px;
 }
  .stepimg  {
     height: 280px;
     width: 280px;
     margin-left: 50px;
     border: 3px solid #900;
     padding: 4px;
 }
  .strike  {
     text-decoration: line-through;
 }
  .introimg  {
     float: right;
     margin-top: 3px;
     margin-right: 45px;
 }
  .introlj  {
     float: left;
 }
  .stepstitle  {
     font-weight: bolder;
     color: #444;
 }
  ol  {
     color: #999;
     list-style: upper-roman;
     width: 75%;
     margin: auto;
     margin-bottom: 14px;
 }
  #aboutme li  {
     list-style: upper-roman;
     font-weight: 700;
     width: 500px;
     margin-top: 10px;
     margin-bottom: 7px;
 }
  #resume  {
     margin-top: 14px;
     min-height: 20px;
     width: 35%;
     float: right;
 }
  #resume p  {
     text-indent: 14px!important;
 }
  #sliderlogo  {
     height: 140px;
     width: 140px;
     background: url(../images/logo3.png);
     position: absolute;
     z-index: 999;
     left: -45px;
     margin-top: 40px;
 }
  #footer a .resumelink  {
     color: #a2a2a2!important;
 }
  .resumelink:hover  {
     color: #fff;
 }
  .bye  {
     display: none;
 }
  .loginfail  {
     margin-top: 4px;
     color: red;
     float: right;
 }
  .show  {
     display: inline;
 }
  .return  {
     float: right;
 }
  #logfailform a  {
     text-decoration: underline;
     color: #666;
 }
  #logfailform a:hover  {
     text-decoration: none;
 }
  .coming  {
     margin-left: auto;
     margin-right: auto;
     text-align: center;
 }
  .discusshead  {
     font-size: 20px;
 }
  .formErrorContent  {
     z-index: 9999999;
 }
  .formErrorArrow  {
     display: none;
 }
  .loginlogo  {
     float: left;
     margin-top: -2px;
     margin-right: 5px;
     margin-left: 10px;
 }
  .hideval  {
     display: none;
 }
  .finaltitle  {
     font-size: 2em;
     float: left;
     text-indent: 40px;
     text-align: justify;
 }
  .askfinaltitle  {
     font-size: 2em;
     float: left;
     text-indent: 40px;
     text-align: justify;
     width: 70%;
 }
  .logfailfloor  {
     margin-right: auto;
     margin-left: auto;
     width: 15%;
     margin-top: 7px;
     display: block;
 }
  .hr  {
     margin-left: auto;
     margin-right: auto;
     display: block;
 }
  #white h1  {
     font-size: 2.25em;
     font-weight: bolder;
 }
  #white #aboutme h1  {
     font-size: 1em!important;
 }
  #white #aboutme, #white #introduction  {
     text-align: justify;
 }
 .boxplus {
     height: 40px;
     width: 280px;
     position: absolute !important;
     z-index: 9999999;
     top: -30px;
     right: 0px;
}

 .tb-holder {
    float: left;
}
 .fb {
    border:  none;
     overflow:  hidden;
     width: 200px;
     height:  100px;
     float: left;
}
 table .connect_widget_interactive_area,  .connect_widget_interactive_area,  .like_button_dark {
     margin-bottom: 2px !important;
     margin-left: 12px !important;
 }
 .copyright:hover {
    background: url(../images/copy2.png);
}
